{% extends 'base.html' %}



{% block content %}
{% load static %}
<h1 class="text-center slider-text">Bl<span>oo</span>g</h1>
<!-- For top slide show -->
<style>
.slide_show_row{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:2%;
    margin-bottom:6%;
}
.slide_show{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3%;
}
#pimg{
    width: 50%;
    height: 550px;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;
}
.slide_show_text{
    width: 45%;
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

</style>


<div class="slide_show_row">
    <div class="slide_show">
        <img src="{{ post.image.url }}" alt="Preview Image" id="pimg">
        <div class="slide_show_text">
            <span class="type_date"> {{ post.category }} <span style="color: #999;"> — {{ date }}</span></span>
            <h3 class="slide_show_text_title">
                {{ post.title }}
            </h3>
            <span style="color: rgba(108, 99, 99, 0.95);font-size: 18px;font-style: italic;">
                {{ post.description }}
            </span>
            <a href="{% url 'updatePost' post.id %}" class="btn btn-primary col-md-4 m-3">Like Post
                <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

<!-- End of top slide show -->

<div class="col-md-12 py-md-5 my-3 text-center" id="view-more">
    <a href="{% url 'allPost' %}" class="">View all Posts &nbsp;&nbsp;&nbsp;<span class="fa fa-chevron-right"></span></a>
</div>

{% endblock content %}